@model IEnumerable<ExpenseList.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<style>
    .text-right {
        text-align: right;
    }
</style>

<h1 style="text-align: center;">Expenses</h1>

<hr />

<h3 style="text-align: center;">Total $@String.Format("{0:F2}", ViewBag.TotalExpenses)</h3>

<div class="container" style="display: flex; flex-direction: column; align-items: flex-start;">
    <form method="get" asp-action="Index" style="display: flex; align-items: center;">
        <div class="form-group" style="margin-right: 10px;">
            <label for="Category">Filter by Category</label>
            <select id="Category" name="category" class="form-control">
                <option value="">All</option>
                @foreach (var category in (List<string>)ViewBag.Categories)
                {

                    <option value="@category" selected="@(category == ViewBag.SelectedCategory ? "selected" : null)">
                        @category</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @String.Format("{0:C}", item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td class="text-right">
                        <a asp-action="Edit" style="background-color: cornflowerblue;" class="btn btn-primary"
                            asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Details" style="background-color: cornflowerblue;" class="btn btn-primary"
                            asp-route-id="@item.ID">Details</a>
                        <a asp-action="Delete" style="background-color: crimson;" class="btn btn-primary"
                            asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <a asp-action="Create" style="background-color: cornflowerblue;" class="btn btn-primary">Create New</a>
</div>